*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
  }
  .contentwrapper,
  figure{
    flex:1;
  }
  .container{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    margin-left:100px;
    margin-right:100px;
    height:102vh;
  }
  .contentwrapper{
    width: 50%;
    background-color: rgb(12, 59, 46);
    padding:5%;
    color:#fff; 
    font-family:"Open Sans", sans-serif;
  }
  h1{
    font-size: 70px;
    line-spacing: 1.1; 
  }
  h2{
    margin-bottom:100px;
    font-weight:150;
  }
  .image{
    height:760px;
    width:600px;
    background-image:url("https://images.unsplash.com/photo-1517048676732-d65bc937f952?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size:cover;
    background-repeat:no-repeat;
  }
  body{
    background-color:#252627;
  }
  .button{
    margin-left:-10px;
    margin-top:100px;
  }
  .button a{
    display-inline:block;
    padding:10px 50px;
    background:orange;
    border-radius:30px;
    color:black;
    text-decoration:none;
    font-size:18px;
    line-height:1.4;
    font-weight:400;
    transition:all 0.3s ease;
  }
  .button a:hover{
    background:black;
    color:orange;
  }
  .section{
    margin-top:60px;
  }
  .name{
    margin-bottom:5px;
    font-size:28px;
  }
  .section0{
    margin-bottom:5px;
    font-size:28px;
    margin-top:90px;
  }
  