@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&family=Unbounded:wght@200;400;700&display=swap");
*{
  box-sizing: border-box;
  margin:0px;
  padding:0px;
}

.container{
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  margin-left:95px;
  margin-right:95px;
  height:100vh;
}
.contentwrapper{
  width: 50%;
  background-color: rgb(12, 59, 46);
  padding:5%;
  color:#fff; 
  font-family:"Open Sans", sans-serif;
}
h1{
  margin-top: 30px;
  font-size: 65px;
  line-spacing: 1.1; 
}
h2{
  margin-top: 20px;
  margin-bottom:100px;
  font-weight:400;
  font-size:25px;
}
body{
  background-color:#18191a;
}
.button{
  margin-left:-10px;
  margin-top:50px;
}
.button a{
  display-inline:block;
  padding:10px 50px;
  background:orange;
  border-radius:30px;
  color:black;
  text-decoration:none;
  font-size:18px;
  line-height:1.4;
  font-weight:400;
  transition:all 0.3s ease;
}
.button a:hover{
  background:black;
  color:orange;
}
.image{
  height:760px;
  width:600px;
  background-image:url(https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-size:cover;
  background-repeat:no-repeat;
}
@media screen and (max-width: 1024px){
  .button a{
    font-size:16px;
  }
}
@media screen and (max-width: 420px) {
  .button a {
    text-align: center;
  }
}
